<h1> <center> ADVOCATES </center> </h1>


      
  <div class="container">
     <div class ="row">
      <div class="photo"> <%= image_tag ( "/assets/james.jpeg"), size: "200x200", :class => "img_james" %>
           <h4 class="center">JAMES K. KIPKEMEI</h4>
              <p class="socials">
    
                     <a target="_blank" href="https://www.linkedin.com/in/james-kipkemei-34818722/">
                     <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png"  
                     width="160" height="33" border="0" alt="View Dominic Owino's profile on LinkedIn"></a>
                   
                
                     <a href="https://twitter.com/jameskipkemei" class="twitter-follow-button" 
                     data-show-count="true">Follow @jameskipkemei</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
               
                    <a target="_blank" title="find me on Facebook" href="http://www.facebook.com/james.kipkemei">
                    <img alt="follow me on facebook" 
                     src="//login.create.net/images/icons/user/facebook_30x30.png" border=0></a>
    
              </p>   
      
      </div>   
    
          
           
     <div class="photo"><%= image_tag ( "/assets/grace.jpeg"), size: "200x200", :class => "img_grace" %>
           <h4 class="center">HON.GRACE K. KIPTUI</h4>
              <p class="socials">
                    
                     <a target="_blank" href="https://www.linkedin.com/in/grace-kiptui-185ba524/">
                     <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png"  
                     width="160" height="33" border="0" alt="View Dominic Owino's profile on LinkedIn"></a>
                       
                    
                    <a href="https://twitter.com/HonKiptui" class="twitter-follow-button" 
                    data-show-count="true">Follow @HonKiptui</a>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                   
                    <a target="_blank" title="find me on Facebook" href="https://www.facebook.com/HonGraceKiptui/">
                    <img alt="follow me on facebook" 
                    src="//login.create.net/images/icons/user/facebook_30x30.png" border=0></a>
            
              </p>          
     </div>                
                          
                    
                    
                    
   <div class="photo"><%= image_tag ( "/assets/terry.jpeg"), size: "200x200", :class => "img_terry" %>
       <h4 class="center">TERRY C. RONOH</h4>
                <p class="socials">
    
                     <a target="_blank" href="https://www.linkedin.com/in/grace-kiptui-185ba524/">
                     <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png"  
                     width="160" height="33" border="0" alt="View Dominic Owino's profile on LinkedIn"></a>
                   
                
                    <a href="https://twitter.com/HonKiptui" class="twitter-follow-button" 
                     data-show-count="true">Follow @HonKiptui</a>
                   <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
               
                   <a target="_blank" title="find me on Facebook" href="https://www.facebook.com/HonGraceKiptui/">
                   <img alt="follow me on facebook" 
                   src="//login.create.net/images/icons/user/facebook_30x30.png" border=0></a>
                </p>   
    </div>              

    
   
 
  
</div>
</div>

<hr class="style18">
<h1 align="center" style="background-color:#00ff00;"> CLERKS</h1>
<div class="container">
  <div class ="row">
      <div class="clerks">
       <div class="photo"><%= image_tag ( "/assets/alfred.jpeg"), size: "200x200", :class => "img_alfred" %>
       <h4 class="center">ALFRED OMBUNA</h4></div>
       
       
       <div class="clerks">
       <div class="photo"><%= image_tag ( "/assets/mutinda.jpeg"), size: "200x200", :class => "img_mutinda" %>
      <h4 class="center"> WETRESS MUTINDA</h4></div>
       
       </div>
       </div>
       
  
       </div>