<h1 align="center"> PRACTICE AREAS</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-4" style="background-color:yellow; height:650px;" >
      <button type="button" class="btn btn-secondary" id="conveyancing" data-toggle="tooltip" data-placement="bottom" title="

Whether you are a developer, landlord or a first-time homeowner, there is too much on the line to risk
running into avoidable legal complications. The experienced advocates at KiptuiKipkemei&Co.Advocates have handled 
hundreds of real estate transactions and disputes. We know the pitfalls that await both buyers and sellers,
whether buying a home or commercial property.

Real estate transactions are tricky business for the inexperienced. 
Protect yourself and your most important investments when it comes to:

Purchases and sales
Landlord-tenant litigation
Residential and commercial leases ">
  CONVEYANCING 
     </button>
     <%= image_tag ( "/assets/forsale.jpeg"), size: "300x250", :class => "img_conveyancing" %>
 <p>Buying a first home? Leasing a commercial property? Developing a subdivision?



Whether you are a developer, landlord or a first-time homeowner,  
there is too much on the line to risk running into avoidable legal complications. 
The experienced advocates at KiptuiKipkemei&Co.Advocates have handled hundreds of real estate transactions and disputes.
We know the pitfalls that await both buyers and sellers, whether buying a home, condominium or commercial property.

Real estate transactions are tricky business for the inexperienced. Protect yourself and your most important
investments when it comes to:
<ul>
<li>Purchases and sales;</li>

<li>Residential and commercial leases;</li>
<li>Zoning and land use;</li>
<li>Professional land acquisition and development;</li>
<li>Permitting for business and residential uses.</li></ul></p>

    
    </div>
    <div class="col-sm-4"  style="background-color:blue; height:600px;">
<button type="button" class="btn btn-secondary"  id="litigation" data-toggle="tooltip" data-placement="bottom" title="KIPTUIKIPKEMEI & CO ADVOCATES  comprises of advocates who have extensive experience in various areas of civil and
commercial litigations including banking, finance, insurance,  commercial contracts, real estate and construction, 
energy and natural resources, plantation and media. 
Our advocates also have experiences in representing clients in various and at any level of courts in Kenya, both civil and
criminal.
Our litigation practice encompasses the following: 

Civil and Commercial Litigation;
Criminal;
Bankruptcy;
Intellectual Property.">
  LITIGATION
  </button>
   <%= image_tag ( "/assets/lawa.jpeg"), size: "300x250", :class => "img_conveyancing" %>
   <p>KIPTUIKIPKEMEI & CO ADVOCATES  comprises of advocates who have extensive experience in various areas of civil and
   commercial litigations including banking, finance, insurance,  commercial contracts, real estate and construction, energy and natural resources, plantation and media. 
Our lawyers also have experiences in representing clients in various and at any level of courts in Kenya, both civil and
criminal.
Our litigation practice encompasses the following: 
<ul>
  <li>Civil and Commercial Litigation;</li>
<li>Criminal;</li>
<li>Bankruptcy;</li>
<li>Intellectual Property.</li> </ul>
. </p>
    </div>
    <div class="col-sm-4" style="background-color:pink; height:650px;">
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="KIPTUIKIPKEMEI & CO ADVOCATES  comprises of lawyers with extensive experience in advising and assisting a wide range of clients throughout Indonesia and abroad including individuals, private and public companies, multinational corporations, state owned enterprises as well as governmental agencies and institutions in relation to their corporate and commercial transactions. 

We provide advice and assistance to clients in the establishment of companies in Kenya as well as in carrying on their
businesses. We assists client with a wide range of corporate services, including corporate secretarial services, 
compliance and corporate governance issues. 
 
Our corporate and commercial practice also encompasses the following: 
Direct and Indirect Investment;
Mergers and Acquisitions;
Banking and Finance;
International Business Transactions;
Commercial Contracts.">
  CORPORATE & COMMERCIAL
</button>
<%= image_tag ( "/assets/stocks.jpeg"), size: "300x250", :class => "img_conveyancing" %>
<P>KIPTUIKIPKEMEI & CO ADVOCATES comprises of lawyers with extensive experience in advising and assisting a wide
range of clients ,individuals, private and public companies,
multinational corporations, state owned enterprises as well as governmental agencies and institutions in 
relation to their corporate and commercial transactions. 

We advice our clients in the establishment of companies in Kenya as 
well as in carrying on their businesses in Kenya. We assists client with a wide range of corporate services, 
including corporate secretarial services, compliance and corporate governance issues. 
 
Our corporate and commercial practice also encompasses the following: 
<ul>
  <li>Direct and Indirect Investment;</li>
<li>Mergers and Acquisitions;</li>
<li>Banking and Finance;</li>
<li>Commercial Contracts.</li></ul></P>
    </div>
   
  </div>
  <hr class="style18">
   <div class="row">
    <div class="col-sm-4" style="background-color:yellow; height:650px;" >
      <button type="button" class="btn btn-secondary" id="conveyancing" data-toggle="tooltip" data-placement="bottom" title="

Whether you are a developer, landlord or a first-time homeowner, there is too much on the line to risk
running into avoidable legal complications. The experienced advocates at KiptuiKipkemei&Co.Advocates have handled 
hundreds of real estate transactions and disputes. We know the pitfalls that await both buyers and sellers,
whether buying a home or commercial property.

Real estate transactions are tricky business for the inexperienced. 
Protect yourself and your most important investments when it comes to:

Purchases and sales
Landlord-tenant litigation
Residential and commercial leases ">
  CONVEYANCING 
     </button>
     <%= image_tag ( "/assets/forsale.jpeg"), size: "300x250", :class => "img_conveyancing" %>
 <p>Buying a first home? Leasing a commercial property? Developing a subdivision?



Whether you are a developer, landlord or a first-time homeowner,  
there is too much on the line to risk running into avoidable legal complications. 
The experienced advocates at KiptuiKipkemei&Co.Advocates have handled hundreds of real estate transactions and disputes.
We know the pitfalls that await both buyers and sellers, whether buying a home, condominium or commercial property.

Real estate transactions are tricky business for the inexperienced. Protect yourself and your most important
investments when it comes to:
<ul>
<li>Purchases and sales;</li>

<li>Residential and commercial leases;</li>
<li>Zoning and land use;</li>
<li>Professional land acquisition and development;</li>
<li>Permitting for business and residential uses.</li></ul></p>

    
    </div>
    <div class="col-sm-4"  style="background-color:blue; height:600px;">
<button type="button" class="btn btn-secondary"  id="litigation" data-toggle="tooltip" data-placement="bottom" title="KIPTUIKIPKEMEI & CO ADVOCATES  comprises of advocates who have extensive experience in various areas of civil and
commercial litigations including banking, finance, insurance,  commercial contracts, real estate and construction, 
energy and natural resources, plantation and media. 
Our advocates also have experiences in representing clients in various and at any level of courts in Kenya, both civil and
criminal.
Our litigation practice encompasses the following: 

Civil and Commercial Litigation;
Criminal;
Bankruptcy;
Intellectual Property.">
  LITIGATION
  </button>
   <%= image_tag ( "/assets/lawa.jpeg"), size: "300x250", :class => "img_conveyancing" %>
   <p>KIPTUIKIPKEMEI & CO ADVOCATES  comprises of advocates who have extensive experience in various areas of civil and
   commercial litigations including banking, finance, insurance,  commercial contracts, real estate and construction, energy and natural resources, plantation and media. 
Our lawyers also have experiences in representing clients in various and at any level of courts in Kenya, both civil and
criminal.
Our litigation practice encompasses the following: 
<ul>
  <li>Civil and Commercial Litigation;</li>
<li>Criminal;</li>
<li>Bankruptcy;</li>
<li>Intellectual Property.</li> </ul>
. </p>
    </div>
    <div class="col-sm-4" style="background-color:pink; height:650px;">
      <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="KIPTUIKIPKEMEI & CO ADVOCATES  comprises of lawyers with extensive experience in advising and assisting a wide range of clients throughout Indonesia and abroad including individuals, private and public companies, multinational corporations, state owned enterprises as well as governmental agencies and institutions in relation to their corporate and commercial transactions. 

We provide advice and assistance to clients in the establishment of companies in Kenya as well as in carrying on their
businesses. We assists client with a wide range of corporate services, including corporate secretarial services, 
compliance and corporate governance issues. 
 
Our corporate and commercial practice also encompasses the following: 
Direct and Indirect Investment;
Mergers and Acquisitions;
Banking and Finance;
International Business Transactions;
Commercial Contracts.">
  CORPORATE & COMMERCIAL
</button>
<%= image_tag ( "/assets/stocks.jpeg"), size: "300x250", :class => "img_conveyancing" %>
<P>KIPTUIKIPKEMEI & CO ADVOCATES comprises of lawyers with extensive experience in advising and assisting a wide
range of clients ,individuals, private and public companies,
multinational corporations, state owned enterprises as well as governmental agencies and institutions in 
relation to their corporate and commercial transactions. 

We advice our clients in the establishment of companies in Kenya as 
well as in carrying on their businesses in Kenya. We assists client with a wide range of corporate services, 
including corporate secretarial services, compliance and corporate governance issues. 
 
Our corporate and commercial practice also encompasses the following: 
<ul>
  <li>Direct and Indirect Investment;</li>
<li>Mergers and Acquisitions;</li>
<li>Banking and Finance;</li>
<li>Commercial Contracts.</li></ul></P>
    </div>
   
  </div>
</div>
