<!DOCTYPE html>
<html>
<head>
  <title>kiptuikipkemei&co.advocates</title>
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
 integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style>
@import url('https://fonts.googleapis.com/css?family=Sofia');

</style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"  type="text/javascript"></script>
  
</head>
<body class="body">
  
  
  <div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>
  
<%= render "layouts/navigation" %>

 

<div class="container"
<%= yield %>

  
 


</div>
  <div class="footer" > 
<div class="row">
   <div class="col-sm-4" style="background-color:#00ff00; height:150px; border-left:15px solid #7CFC00; ">
     <ul class="list-unstyled">
      <li> <i class="fa fa-envelope" aria-hidden="true" style="font-size:36px"></i>infoknklawyer@gmail.com </li>
      <li> <i class="fa fa-phone" aria-hidden="true" style="font-size:36px"></i>0722640940</li>
      
      <li><i class="material-icons" style="font-size:36px">place</i>Furaha Apartments,Suite No. 5<br>Behind Landmark Plaza<BR>
          Argwings Kodhek Road;Hurlingham,Nairobi</H4>
      </li>
      </ul>
     </div>
   <div class="col-sm-4" style="background-color:#00ff00; height:150px; border-left:15px solid #7CFC00;"></div>
   <div class="col-sm-4" style="background-color:#00ff00; height:150px; border-left:15px solid #7CFC00;"></div>
  
  
  
  
</div>
</div> 
</body>
</html>
